<!-- FOOTER -->

  <footer id="footer" >
    <div class="Foot"  style="padding:1px; position:relative; bottom:0;color:white; background-color: rgb(53, 55, 63);" >
      <h1>Our Founders</h1>
      
      <p>1. Vikhyat Jain &nbsp 2. Rahul Kumar Singh &nbsp 3. Ankit Kumar Singh &nbsp 4. Akshat Rajput &nbsp 5.Deepak Dhakad</p>
    <p>© Copyright 2022 ConnectIn</p>
    </div>
  </footer>



  </body>
</html>
