<%- include('partials/header') %> <%- include('partials/navbar') %>

<!-- LOGO -->
<div class="container-fluid network-image" style="text-align: center">
  <img src="/images/1.PNG" class="network" alt="" />
  <p class="des-head">ConnectIn</p>
  <a href="ask">
    <button
      type="button"
      class="btn btn-outline-warning btn-lg navbtn shadow-none"
    >
      Ask a question
    </button>
  </a>
  <a href="discussion">
    <button
      type="button"
      class="btn btn-outline-warning btn-lg navbtn shadow-none"
    >
      Go to discussion
    </button>
  </a>
</div>

<!-- CONTENT -->
<!-- <div style=" background-color: #ffcb91;" >
  <div class="container-fluid middle">
    <p class="des-head-2">We Respect Every Query</p>
    <p class="des-para">Get all your queries solved by your peers.</p>

    <div class="row">
      <div class="col-lg-4">
        <i class="fas fa-question-circle fa-5x"></i>
        <h3>Ask</h3>
      </div>
      <div class="col-lg-4">
      <i class="fas fa-graduation-cap fa-5x"></i>
        <h3>Learn</h3>
      </div>
      <div class="col-lg-4">
        <i class="fas fa-trophy fa-5x"></i>
        <h3>Grow</h3>
      </div>
    </div>
  </div>
</div> -->

<footer id="footer">
  <div
    class="Foot"
    class=""
    style="
      padding: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: white;
      background-color: rgb(53, 55, 63);
    "
  >
    <h1>Our Founders</h1>

    <p>
      1. Vikhyat Jain &nbsp 2. Rahul Kumar Singh &nbsp 3. Ankit Kumar Singh
      &nbsp 4. Akshat Rajput &nbsp 5.Deepak Dhakad
    </p>

    <!-- <a href="https://www.linkedin.com/in/akshat-goyal-5b7260181/" style="color:black;">
        <i class="social-icon fab fa-linkedin fa-2x"></i>
      </a> -->

    <p>© Copyright 2022 ConnectIn</p>
  </div>
</footer>
