<%- include('partials/header') %> <%- include('partials/navbar') %>

<!-- LOGO -->
<div class="container-fluid network-image" style="text-align: center">
  <img src="/images/1.PNG" class="network" alt="" />
  <p class="des-head">ConnectIn</p>
  <a href="ask">
    <button
      type="button"
      class="btn btn-outline-warning btn-lg navbtn shadow-none"
    >
      Ask a question
    </button>
  </a>
  <a href="discussion">
    <button
      type="button"
      class="btn btn-outline-warning btn-lg navbtn shadow-none"
    >
      Go to discussion
    </button>
  </a>
</div>



<footer id="footer">
  <div
    class="Foot"
    class=""
    style="
      padding: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: white;
      background-color: rgb(53, 55, 63);
    "
  >
    <p>© Copyright 2022 ConnectIn</p>
  </div>
</footer>
